.answer-block {
    display: flex;
    justify-content: space-between;
    margin: 1.5rem 15% 1.5rem 15%;
}

.end-of-round-block {
    display: flex;
    justify-content: center;
    margin: 1.5rem 15% 1.5rem 15%;
}

.answer-btn {
    font-size: 0.6rem;
}
